#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  text-align: center;
}

header {
  background-color: var(--header-color);
  color: var(--footer-color);
  box-shadow: 0px 1px 5px 1px var(--footer-color);
}

footer {
  background-color: var(--footer-color);
  color: var(--header-color);
  box-shadow: 0px -1px 5px 5px var(--header-color);
}

footer a,
footer a:visited {
  color: var(--card-color);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 85vh;
}

@media (max-width: 500px) {
  footer {
    font-size: 4vw;
    line-height: 6vh;
  }
}
