.game-over {
  text-align: center;
  color: var(--footer-color);
}

.game-over h2 {
  font-size: 3rem;
}

.game-over-btn {
  background-color: var(--card-color);
  color: var(--header-color);
  font-size: 2rem;
  padding: 1vh 4vw;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 5px var(--footer-color);
  cursor: pointer;
}
