@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --bg-color: rgb(238, 237, 237);
  --card-color: rgb(13, 18, 130);
  --footer-color: rgb(215, 19, 19);
  --header-color: rgb(240, 222, 54);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

body {
  background-color: var(--bg-color);
  font-family: "Press Start 2P", cursive;
}

/* Scrollbar styling from W3Schools */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--card-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--bg-color);
}
